.Login {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: linear-gradient(
		203.02deg,
		#004f99 14.29%,
		#a2d2ff 45.16%,
		#e5f3ff 84.7%
	);
	display: grid;
	grid-template-columns: minmax(300px, 30vw);
	place-content: center;
	justify-items: center;
	gap: 1.5rem;
	h3 {
		font-family: "Barlow SBold";
		font-size: 2rem;
		color: var(--primary-col);
	}
	h4 {
		font-family: "Barlow SBold";
		color: var(--primary-col);
	}
}

.code-container {
	display: flex;
	gap: 1rem;
	input {
		text-align: center;
	}
}
